body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 75px;
	text-align: center;
}

#header {
	width: 100%;
	text-align: center;
	font-size: 75px;
}

#main{
	color: blue;
	text-align: center;
}